name: Create PDF

on: [push, workflow_dispatch ]

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: create policies directory
        run: |
          mkdir policies

      - uses: docker://pandoc/latex      
        with:
          args: >-  # allows you to break string into multiple lines
            --template=templates/default.latex
            --output=policies.pdf
            policies.md
            
      - uses: actions/upload-artifact@master
        with:
          name: policies
          path: .

      - name: Commit PDF
        run: |
          git config --global user.name 'Andy Clifton'
          git config --global user.email 'andyclifton@users.noreply.github.com'
          git add --all
          git commit -am "Automated PDF"
          git push
